// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

#miniChart {    
    margin-bottom: 20px;
}

.noListStyling {
    font-size: 100px;
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
}

.settingForm {
    display: flex;
}
