// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';


.blueTransparentButton {
    background-color: transparent;
    border: none;
    color: rgb(52, 144, 220);
  }